body {
    font-family: 'Roboto'; 
    background-size: 100%;
    margin: 0;
}

.header {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    
}

.header ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    
}

.page {
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    padding: 10px 100px 10px 100px;
}

.page h1 {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;

}
.page p {
    font-size: 18px;
    color: #e5e7eb;
    
}
.panel1left {
    flex-direction: column;
    flex: 1;
    margin-top: - 20px;
}

.panel1left button {
    border-radius: 5px;
    color: #e5e7eb;
    background: #3882f6;
    border: 0;
    width: 70px;
    height: 30px;
}

.img {
    background-color: lightgray;
    text-align: center;
    display: flex;
    align-self: center;
    height: 100px;
    width: 200px;
    flex: 0 0 auto;
    
}


h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.panel2 > * {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.boxes > * {
    border-radius: 25px;
    border: 2px solid #3882f6;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.panel3 {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}
.panel3 p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    
}
.panel3 h3{
    text-align: right;
    font-size: 24px;
    padding-right: 100px;
}
.panel4 {
    display: flex;
    justify-content: center;
}
.blueBox {
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #e5e7eb;
    background: #3882f6;
    border: 0;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100px;
}

.left {
    align-items: center;
    justify-content: center;
    margin-left: -20px;
    margin-right: 20px;
    line-height: 0;
}

.button button {
 border-radius: 5px;
 color: #e5e7eb;
 border: 2px solid #e5e7eb;
 background: #3882f6;
 width: 70px;
 height: 30px;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 10px 0 10px 0;
}